*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    min-height: 100%;
}

body {
    min-height: 100vh;
}

.container {
    width: min(90%, 1140px);
    margin: 3rem auto;
}

.comment_container {
    position: relative;
}

.comment_container::before {
    content: "";
    background-color: rgb(170, 170, 170);
    position: absolute;
    min-height: 100%;
    width: 1px;
    left: -10px;
}

.comment_container:not(:first-child) {
    margin-left: 3rem;
    margin-top: 1rem; 
}

.comment_card {
    padding: 20px;
    background-color: white;
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: .5rem;
    min-width: 100%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.comment_card h3, 
.comment_card p {
    margin-bottom: 1rem;
}

.comment_card-footer {
    display: flex;
    font-size: .85rem;
    opacity: .6;
    gap: 30px;
    justify-content: flex-end;
    align-items: center;
}

.show-replies {
    cursor: pointer;
}
